.login-page {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.container-login {
  display: flex;
  width: 100vh; /* Adjust the width as needed */
  height: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.google-icon {
  margin-right: 10px;
}

.left {
  flex: 1;
  background-color: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 1;
  background: #68B6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right .text-box {
  text-align: center;
  color: #0066cc;
  font-weight: bold;
}

.right .text-box p {
  margin: 0;
  font-size: 24px;
}

.form-container {
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.error-message {
  color: red;
  font-size: 14px;
}

p {
  margin-bottom: 30px;
  font-size: 14px;
  color: #666;
}

.input-container {
  position: relative;
  width: 58%;
  margin: 0 auto 10px;
  top: 0px;
  margin-top: 9px;
  margin-left: 60px;
  margin-bottom: 9px;
}

.input-container input {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

.input-container .input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #666;
  font-size: 20px;
  color: #1C1C1C;
}
.login-button {
  width: 38%;
  padding: 10px;
  background-color: #509CDB;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.google-login {
  background-color: #E53434;
  width: 38%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #3e73be;
}

.google-login:hover {
  background-color: #e53434a8;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
}

.footer a {
  color: #192252;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.EaseLogo {
  width: 215px;
  height: 150px;
}


