.container {
    padding: 20px;
  }
  
  .heading {
    color: blue;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchInput {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
  }
  
  .searchButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
    font-weight: 600;
  }
  .searchButton:hover {
    background-color: #166fe5;
  }
  .loading {
    font-size: 18px;
  }
  
  .articlesList {
    list-style-type: none;
    padding: 0;
  }
  
  .articleItem {
    margin-bottom: 20px;
  }
  
  .articleTitle {
    font-size: 24px;
  }
  
  .articleImage {
    width: 50%;
    height: 50%;
  }
  
  .articleDescription {
    font-size: 16px;
  }
  
  .articleLink {
    color: blue;
  }
  
  .articleSource {
    font-style: italic;
  }